th {
  border-top-style: dashed;
}
th, td {
  border-left-style: hidden!important;
  border-right-style: hidden!important;
}
tr.hidden {
  border-top-style: hidden!important;
  border-bottom: 1px solid black;
}