.ucsc-block-accordion {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: .5em .5em 0;
  padding: .5em .5em 0;
}

.ucsc-block-accordion[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.ucsc-block-accordion summary input {
  border: 0;
}
